/* For the name area*/
h1 {
    margin-top: -10px;
    padding-top: 35px;
    font-size: 35px;
    font-weight: bold;
    
    
}
.border-top {
  height: 100px;
  margin: 0px;
  padding: 0px;
  border: 0px;
 
}
/*     
actual name */
.name {
    font-size: 30px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 250px;
    height: 100px;
    margin-top: 0px;
    padding: 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 225px;
    
    
}
/* box area for the navigation bar */
.topnav{
    margin-top: 40px;
    float: right;
    margin-right: 180px;
  
   
}
/* removing dots from list */
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: grey;
    justify-content: space-between;
}
/* nav bar elements */
li {
    float: left;
    padding: 0px;
    font-size: 20px;

}
/* this will change the text color of the nav bar when hovering the cursor over it */
li a:hover {
    color: blue;
}
li a {
    display: block;
    text-decoration-line: none;
    color: grey;
    
}
/* all the content except the top nav/name bar */
.main-section {
    background-image: url("background.png");
    height:700px;
    top: 50px;
    border-color: #f3f3f3;
    border-top-style: groove;
    border-width: 3px;
    margin-right: 0px;
    margin-left: 0px;
    
}
/* the box inside the body containing most of the webpage content */
.main-body {
    background-color: #ffffff;
    width: 960px;
    margin-left: 225px;
    margin-top: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    height:600px;
    
}
/* about me name bar */
#about-me {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-width: 3px;
    width: 920px;
    margin-left: 15px;
    border-inline-start: 5px;
   
    
}
/* thin border near the bottom of the page */
.skinny-border {
    height: 5px;
    background-color: #4aaaa5;
    margin-right: 0px;
    margin-left: 0px;
    flex-shrink: 0;
    flex: 1;
}
/* larger border at the bottom of the page */
.fat-border {
    background-color: grey;
    height:60px;
    top: 0px;
    margin-right: 0 auto;
    margin-left: 0 auto;
    flex-shrink: 0;
    flex: 1;
    
}
/* second heading in the main body */
h2 {
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    width: 175px;
    padding-bottom: 20px;
}
/* my picture */
.image {
    float: left;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 20px;
    height:175px;
    padding-bottom: 15px;
}
/* section containing all the paragraphs */
.paragraph {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    font-size: 20px;
    color: #777777;
}
/* the portfolio name bar */
.portfolio {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-width: 3px;
    width: 900px;
    margin-left: -5px;
    border-inline-start: 5px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}
/* images in the main body */
.portfolio-images{
    margin-top: 20px;
    margin-left: 15px;
    height: 700px;
    width: 400px;

}
/* more spefic selector for the images */
.pimage {
    height: 175px;
    
}
/* the div containing the entire form area */
.form-box {
    margin-left: 15px;
    margin-top: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    
}
input {
    width: 80%;
    border: 1px solid lightgray;
    
}
.button {
    width: 75px;
    margin-top: 20px;
    background-color: #4aaaa5;
    color: white;
    height: 35px;
}
textarea {
    height: 125px;
    padding-left: 5px;
    width: 80%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    
    
}
    
.email-box {
    padding-top: 5px;
}
.name-box {
    padding-top: 5px;
}
/* copyright at the bottom center of the page */
.copyright {
    text-align: center;
    color: white;
    padding-top: 40px;
    font-size: 10px;
}
/* This is the html/css image */
.image-1 {
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    position: relative;
   
}
/* This is the bootstrap image */
.image-2 {
    margin-left: 600px;
    margin-top: 20px;

}
/* This is the javascript image */
.image-3 {
    margin-left: 540px;
    margin-top: 10px;
}
/* This is the node image */
.pimage4 {
    margin-top: -100px;
    height: 175px; 
    margin-left: 145px;
}
/* this is the mongo image */
.image-5 {
    margin-left: 300px;
    margin-top: -20px;
    height: 150px;
}
/* This is the html/css image */
.banner1 {
    height: 20px;
    width: 175px;
    background-color: #4aaaa5;
    margin-left: 45px;
    margin-top: -25px;
    position: relative;
   
}
/* This is the bootstrap image */
.banner2 {
    height: 20px;
    width: 175px;
    background-color: #4aaaa5;
    margin-top: -25px;
    position: relative;
}
/* This is the javascript image */
.banner3 {
    position: relative;
    height: 20px;
    width: 175px;
    background-color: #4aaaa5;
    margin-left: 50px;
    margin-top: -75px;
}
/* This is the node image */
.banner4 {
    height: 20px;
    width: 175px;
    background-color: #4aaaa5;
    margin-left: 150px;
    margin-top: -100px;
    position: relative;
}
/* this is the mongo image */
.banner5 {
    height: 20px;
    width: 175px;
    background-color: #4aaaa5;
    position: relative;
    margin-left: 75px;  
    margin-top: -110px;
}
/* this is css for all the banners */
.bannertext {
    color: white;
    font-size: 16px;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}